<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div th:replace="/navbarEmp"></div>
<div class="container mt-5">
    <div class="row justify-content-center my-5">
        <div class="card col-2 mx-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Товары</h5>
                <a href="/employee/products" class="btn btn-primary">Перейти</a>
            </div>
        </div>
        <div class="card col-2 mx-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Заказы</h5>
                <a href="/employee/orders" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>